# Introdunction of Lambda - 
'''
 Lambda function known as Anonymous Function and define by lambda Keyword , they can have any number of arguments but only one expression 
 . They commonly used for short operations or as arguments to higher-order functions.
 '''
 #syntax -  
lambda arguments: expression

In [7]:
def add(a,b):
    return a+b

# smiler   with ther help of lambda function
addition =  lambda a,b: a+b  
print(addition(3,0))
print(add(3,0))

3
3

### map() function

In [9]:
#map() function 
#map function are used to applies on all item on data  
#and its return object ( an iterator). useful transform data in list comprehensively


# map with function 
def mul(x):
    return x**2
numbers=[1,2,3,4,5]
list(map(mul,numbers))

[1, 4, 9, 16, 25]

In [18]:
# map with lambda
numbers=[1,2,3,4,5]
map(lambda x:x**2,numbers) # return object  if dont convert list <map at 0x1866091bf40>
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [25]:
###Can we map Multiple Iterators

numbers1=[1,2,3]
numbers2=[4,5,6]

list(map(lambda x,y: x+y,numbers1,numbers2))

[5, 7, 9]

In [30]:
##  map to convert a list in str to integer 
str_n = ['1','2','3']

list(map(int,str_n))

[1, 2, 3]

['APPLE', 'BANANA', 'CHERRY']

In [32]:

# the filter() function in python 
''' The  filter function constructs an iterator  from elements of an
function return true. It is used to filter out item from a lsit  absed on conditions. 
'''

' The  filter function constructs an iterator  from elements of an\nfunction return true. It is used to filter out item from a lsit  absed on conditions. \n'

In [38]:
def even(num):
    if num%2==0:
        return num
       
numbers  = [1,2,4,5,6]

In [39]:
list(filter(even,numbers))

[2, 4, 6]

In [41]:
# filters  with lambda 
numbers  = [1,2,4,5,6]
list(filter(lambda x: x%2==0,numbers))

[2, 4, 6]

In [44]:
## filter wit lambda f and multiple conditions  
list(filter(lambda x:x>5 and x%2==0 and x==6 , numbers))

[6]

In [50]:
## Filter() to check  if age is greater then 25 in dictinaries 
people = [
    { 'name':"mohd",'age': 32},
    { 'name':"Huzaif",'age': 45},
    { 'name':"md",'age': 13},
    { 'name':"asif",'age': 18}
  ]

def age_25(person):
    return person['age']> 25
list(filter(age_25,people))

[{'name': 'mohd', 'age': 32}, {'name': 'Huzaif', 'age': 45}]